<div class="ele">
    <div class="img">
        <img src="/assets/imgs/bg.png">
    </div>
    <div class="info">
        <div>
            <div>
                <span class="name">Name : </span>
                <span class="value"> {{json.name}}</span>
            </div>
            <div>
                <span class="name">Size : </span>
                <span class="value"> {{json.size}}</span>
            </div>
            <div>
                <span class="name">Price : </span>
                <span class="value"> {{json.price}}</span>
            </div>
            <div>
                <span class="name">Gender : </span>
                <span class="value"> {{json.gender}}</span>
            </div>
        </div>
        <div>
            <a href="javascript:void(0);">Buy</a>
        </div>
    </div>
</div>